.coverImage, .description {
    float: left;
    min-width: 200px;
}

md-whiteframe {
    margin: 10px;
    padding: 10px;
}

.bundlesList {
    width: 100%;
}

.info {
    padding-left: 20px;
}

.info h2 {
    margin: 0;
    padding-left: 16px;
}

.mainInfo {
    padding: 20px;
    max-width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.34);
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;
}

md-content {
    width: 100%;
}

.description {
    color: white;
    background: none;
}
.description h3 {
    padding: 0;
}

.download_btn {
    color: white!important;
    background-color: rgba(113, 110, 110, 0.5)!important;
}

.detail_main {
    align-items: center;
}

h2, h3 {
    letter-spacing: 2px;
}

md-divider {
    background: #6C6C6C;
}