<link rel="stylesheet" href="../css/detail_page.css">
<div>   
    <cover-img class="coverImage" cover-id="{{bookInfo.cover}}" cover-title="{{bookInfo.title.default}}"></cover-img>
    <h2>{{bookInfo.title.default}}</h2>
    <md-list>
      <md-list-item ng-repeat="(optionName, option) in bookInfo.options">
        {{optionName + " : " + option}}
      </md-list-item>
    </md-list>
    <div class="description">
        <h3>Описание</h3>
        {{bookInfo.description.default}}
    </div>
    
    
    <md-list>
      <md-list-item ng-repeat="bundle in bundles">
        <a ng-href="{{constructResourceString(bundle.resourceId)}}">{{bundle.id}}</a>
        <!--{{bundle}}-->
      </md-list-item>
    </md-list>
</div>