<link rel="stylesheet" href="../css/main_page.css">
<section>
    <h1><b class="agg">A</b>GGREGION LIBRARY</h1>
    <div class="booksContainer">
        <md-grid-list md-cols-sm="3"
                      md-cols-md="4"       
                      md-cols-lg="6""
                      md-cols-gt-lg="8"
                      md-gutter="1em"
                      md-row-height="1:1.5">
          <md-grid-tile class = "cell"
                        ng-repeat="book in books">
                <a class="detailRef" ui-sref="bookDetail({book_id: book.id})">
                    <cover-img  class="coverImage" cover-id="{{book.cover}}" cover-title="{{book.title.default}}"></cover-img> 
                    <md-grid-tile-footer class="titleFooter">
                        <div class="titleTextPreview">{{book.title.default}}</div>
                    </md-grid-tile-footer>
                </a>
          </md-grid-tile>
        </md-grid-list>
    </div>
</section>